@font-face {
    font-family: "pirate";
    src: url("../assets/Pieces_of_Eight.ttf");
}
@font-face {
    font-family: "pirate2";
    src: url("../assets/SomeWeatz_with_symbols.ttf");
 }


.home{
    background-image: url('../assets/old-desk-book.png');
    background-color: #1D4E89;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:100vh;
    background-size: cover;
    display: flex;
    justify-content: center ;
    flex-direction: column;
    color: aliceblue;
}
.container{
    height: 70%;
    width: 95%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    font-family: 'pirate';
    letter-spacing: 15px;

}



.home label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10%;
}

.home label input {
    border-radius: 10%;
}

.title{
    width: 20rem;
}
.new-game{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
}
.rejoin-game{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 20%;
}
.btn-newgame{
    height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 15px;

}

input::placeholder{
    color:black
}
.pseudo{
    margin:0;
    font-size: 2rem;
    align-self: baseline;
}
.pseudo1{
    margin:0;
    font-size: 2rem;
    align-self: baseline;
  
}